.block_thi_learning_companions_mygroups_all_groups {
    margin-left: 6px;
}
.block_thi_learning_companions_mygroups_groups {
    display: block;
}
.block_thi_learning_companions_mygroups_groups {
    display: block;
}
.block_thi_learning_companions_mygroups_group_content {
    display: inline-flex;
    margin-bottom: 20px;
    width: 100%;
}
.block_thi_learning_companions_mygroups_group_picture {
    margin-right: 10px;
}
.block_thi_learning_companions_mygroups_group_picture div {
    width: 30px;
    height: 30px;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
.block_thi_learning_companions_mygroups_group_center {
    display: block;
}
.block_thi_learning_companions_mygroups_group_postinfos {
    margin-left: 10px;
    display: block;
    position: absolute;
    right: 10px;
}
.block_thi_learning_companions_mygroups_group_title {
    font-style: italic;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 125px;
    overflow: hidden;
    display: inline-block;
}
.block_thi_learning_companions_mygroups_group_lastpost_time {
    color: #5AC1A2;
}
.block_thi_learning_companions_mygroups_group_newposts_count {
    margin-top: 3px;
}
.block_thi_learning_companions_mygroups_allgroups_link {
    color: #EB9C68;
}
.block_thi_learning_companions_chevron {
    color: #EB9C68;
}


/* In Webseite enthaltenes Stil-Dokument #6 | http://thi406.local/local/thi_learning_companions/group/search.php */

.thi_learning_companions_info {
    border: 1px solid var(--secondary);
    margin: 0;
    padding: 5px;
    background: var(--light);
    position: relative;
    width: 100%;
    display: inline-block;
    font-size: 0.9em;
    font-style: italic;
    margin-bottom: 10px;
}
