<div class="block_learningcompanions_mygroups_group">
    <div class="block_learningcompanions_mygroups_group_picture">
        X
    </div>
    <div class="block_learningcompanions_mygroups_group_center">
        <div class="block_learningcompanions_mygroups_group_title">
            {{name}}
        </div>
        <div class="block_learningcompanions_mygroups_group_lastpost">
            ...
        </div>
    </div>
    <div class="block_learningcompanions_mygroups_group_postinfos">
        <div class="block_learningcompanions_mygroups_group_lastpost_time">
            09:00
        </div>
        <div class="block_learningcompanions_mygroups_group_newposts_count">
            <span class="block_learningcompanions_mygroups_group_newposts_count_circle">
                2
            </span>
        </div>
    </div>
</div>