<div class="block_learningcompanions_mygroups_main">
    <div class="container">
        <div class="block_learningcompanions_mygroups_groups">
            {{#groups}}
                {{> block_learningcompanions_mygroups/group }}
            {{/groups}}
        </div>
        <div>
            <i class="fa fa-chevron-right block_learningcompanions_chevron"></i>
            <span class="block_learningcompanions_mygroups_allgroups">
                <a href="#" class="block_learningcompanions_mygroups_allgroups_link">{{#str}}allgroups, block_learningcompanions_mygroups{{/str}}</a>
            </span>
        </div>
    </div>
</div>