<div class="block_learningcompanions_mygroups_main">
    <div class="container">
        <div class="block_learningcompanions_mygroups_groups">
            {{#groups}}
                {{> block_learningcompanions_mygroups/group }}
            {{/groups}}
            {{#hasmoregroups}}
            <a href="#" onclick="$('#block_learningcompanions_more').slideDown();$(this).hide();" id="block_lc_showall"><i class="fa fa-chevron-right block_learningcompanions_chevron"></i> {{#str}}showmore, block_learningcompanions_mygroups, {{moregroupscount}}{{/str}}</a>
            <div id="block_learningcompanions_more" style="display:none">{{#moregroups}}
            {{> block_learningcompanions_mygroups/group }}
            {{/moregroups}}<a href="#" onclick="$('#block_learningcompanions_more').slideUp();$('#block_lc_showall').show();"><i class="fa fa-chevron-right block_learningcompanions_chevron" style="transform: rotate(-90deg)"></i> {{#str}}showless, block_learningcompanions_mygroups{{/str}}</a>
            </div>
            {{/hasmoregroups}}
        </div>
<!--        <div>-->
<!--            <i class="fa fa-chevron-right block_learningcompanions_chevron"></i>-->
<!--            <span class="block_learningcompanions_mygroups_allgroups">-->
<!--                <a href="{{allmygroupsurl}}" class="block_learningcompanions_mygroups_allgroups_link">{{#str}}allgroups, block_learningcompanions_mygroups{{/str}}</a>-->
<!--            </span>-->
<!--        </div>-->
        <div>
            <i class="fa fa-chevron-right block_learningcompanions_chevron"></i>
            <span class="block_learningcompanions_mygroups_groupmeup">
                <a href="{{groupmeupurl}}" class="block_learningcompanions_mygroups_groupmeup_link">{{#str}}groupmeup, block_learningcompanions_mygroups{{/str}}</a>
            </span>
        </div>
    </div>
</div>