<div class="block_thi_learning_companions_mygroups_main">
    <div class="container">
        <div class="block_thi_learning_companions_mygroups_groups">
            {{#groups}}
                {{> block_thi_learning_companions_mygroups/group }}
            {{/groups}}
            {{^groups}}
            <span class="thi_learning_companions_info">{{#str}}no_groups_yet, block_thi_learning_companions_mygroups{{/str}}{{#no_groups_help}}
                            {{>core/help_icon}}
                        {{/no_groups_help}}</span>
            {{/groups}}
            {{#hasmoregroups}}
            <a href="#" onclick="$('#block_thi_learning_companions_more').slideDown();$(this).hide();" id="block_lc_showall"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}showmore, block_thi_learning_companions_mygroups, {{moregroupscount}}{{/str}}</a>
            <div id="block_thi_learning_companions_more" style="display:none">
                {{#moregroups}}
                    {{> block_thi_learning_companions_mygroups/group }}
                {{/moregroups}}
                <a href="#" onclick="$('#block_thi_learning_companions_more').slideUp();$('#block_lc_showall').show();"><i class="fa fa-chevron-right block_thi_learning_companions_chevron" style="transform: rotate(-90deg)"></i> {{#str}}showless, block_thi_learning_companions_mygroups{{/str}}</a>
            </div>
            {{/hasmoregroups}}
            <hr>
        </div>
        <div>
            <i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i>
            <span class="block_thi_learning_companions_mygroups_groupmeup">
                <a href="{{groupmeupurl}}" class="block_thi_learning_companions_mygroups_groupmeup_link">{{#str}}groupmeup, block_thi_learning_companions_mygroups{{/str}}</a>
            </span>
            {{#maymanagegroups}}
            <hr>
            <a href="{{cfg.wwwroot}}/admin/tool/thi_learning_companions/index.php"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}to_admin_area, block_thi_learning_companions_mygroups{{/str}}</a>
            {{/maymanagegroups}}
        </div>
        <div class="block_thi_learning_companions_mygroups_mentors mt-5 mb-3">
            <h5 class="mb-3">{{#str}}my_mentors, block_thi_learning_companions_mygroups{{/str}}</h5>
            <span class="block_thi_learning_companions_mygroups_askmentors">
                <a href="{{cfg.wwwroot}}/local/thi_learning_companions/mentor/my_questions_to_mentors.php"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}my_questions_to_mentors, block_thi_learning_companions_mygroups{{/str}}</a>
            </span>
                <hr>
                <span class="block_thi_learning_companions_mygroups_findmentors">
                <a href="{{cfg.wwwroot}}/local/thi_learning_companions/mentor/search.php"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}search_for_mentors, block_thi_learning_companions_mygroups{{/str}}</a>
            </span>
        </div>
        {{#qualifiedasmentor}}
        <div class="block_thi_learning_companions_mygroups_mentorship mt-5 mb-3">
            <h5 class="mb-3">{{#str}}my_mentorship, block_thi_learning_companions_mygroups{{/str}}</h5>
            <span class="block_thi_learning_companions_mygroups_askmentors">
                <a href="{{cfg.wwwroot}}/local/thi_learning_companions/mentor/manage.php"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}mentorship_manage, block_thi_learning_companions_mygroups{{/str}}</a>
            </span>
            <hr>
            <span class="block_thi_learning_companions_mygroups_askmentors">
                <a href="{{cfg.wwwroot}}/local/thi_learning_companions/mentor/mentor_questions_overview.php"><i class="fa fa-chevron-right block_thi_learning_companions_chevron"></i> {{#str}}mentorship_overview, block_thi_learning_companions_mygroups{{/str}}</a>
            </span>
        </div>
        {{/qualifiedasmentor}}
    </div>
</div>
